@CHARSET "UTF-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #737373;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

header {
	height: 120px;
	width: 1200px;
	margin: 0 auto;
}

div {
	display: block;
}

a {
	color: #737373;
	text-decoration: none;
	background-color: tansparent;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

form {
	display: block;
	margin-top: 0em;
}

.site-nav {
	font-size: 12px;
	min-width: 1200px;
	height: 35px;
	border-bottom: 1px solid #e6e6e6;
	background-color: #f2f2f2;
}

.container {
	width: 1200px;
	max-width: none !important;
	padding-right: 0;
	padding-left: 0;
	margin: 0 auto;
}

.site-nav .site-nav-l {
	float: left;
}

.site-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-nav ul .menu {
	line-height: 34px;
	display: block;
	float: left;
}

.site-nav ul a:hover {
	color: #f56600;
}

.site-nav ul .menu>a {
	position: relative;
	display: block;
	height: 35px;
	padding: 0 8px;
}

.site-nav ul .menu>a .ico {
	margin-right: 2px;
}

.site-nav ul .ico-star, .site-nav ul .ico-cart {
	margin-top: -2px;
}

.ico-star, .ico-cart, .logo h2, .ico-user {
	background-image: url(../img/common_z.png);
}

.ico-star {
	background-position: 0px -318px;
}

.ico-star {
	background-repeat: no-repeat;
}

.ico-star, .ico-cart {
	width: 24px;
	height: 24px;
}

.ico {
	display: inline-block;
	vertical-align: middle;
}

.site-nav .site-nav-r {
	float: right;
}

.site-nav ul .login {
	padding-right: 6px;
}

.site-nav ul .login>a {
	display: inline-block;
	padding-right: 2px;
}

.site-nav ul .site-nav-pipe {
	float: left;
	overflow: hidden;
	width: 1px;
	height: 12px;
	margin: 11px 1px;
	padding: 0;
	background-color: #d9d9d9;
}

.ico-cart {
	background-position: -340px -284px;
}

.ico-cart {
	background-repeat: no-repeat;
}

.text-primary {
	color: #ff6a00;
}

header .logo {
	float: left;
	width: 500px;
	height: 64px;
	margin-top: 28px;
	background: url(../img/logo.png) 0 0 no-repeat;
}

header .logo h1 {
	position: relative;
	display: inline-block;
	float: left;
	margin-top: -20px;
}

header .logo h1 a {
	display: block;
	overflow: hidden;
	width: 220px;
	height: 0;
	margin-top: 20px;
	padding-top: 64px;
}

header .logo i {
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 0;
	height: 36px;
	margin-top: 13px;
	margin-right: 12px;
	margin-left: 12px;
	vertical-align: middle;
	border-right: 1px solid #d9d9d9;
}

header .logo h2 {
	background-position: -294px 0px;
}

header .logo h2 {
	position: relative;
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 116px;
	height: 0;
	margin-top: 13px;
	padding-top: 36px;
	vertical-align: middle;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.search {
	float: left;
	width: 320px;
	margin-top: 40px;
}

form {
	display: block;
	margin-top: 0em;
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

.search .input-group .form-control {
	border-color: #ff6a00;
}

.search .input-group .form-control:first-child {
	border-radius: 0;
}

group .form-control {
	display: table-cell;
}

.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
}

.form-control {
	outline: none;
	height: 34px;
	padding: 6px;
	box-shadow: none;
	font-size: 14px;
	line-height: 1.42857143;
	color: #4d4d4d;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #d2d2d2;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	height: 34px;
}

input {
	font-family: inherit;
	font: inherit;
	margin: 0;
	-webkit-appearance: textfield;
	background-color: white;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	padding: 1px;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	text-rendering: auto;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	margin: 0em 0em 0em 0em;
	font: 13.3333px Arial;
	-webkit-writing-mode: horizontal-tb;
}

.input-group-btn {
	position: relative;
	font-size: 0;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}

.search .input-group .input-group-btn .btn {
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1',
		sans-serif;
	font-size: 16px;
	padding: 5px 24px;
	border-radius: 0;
}

.input-group-btn:last-child>.btn {
	margin-left: -1px;
}

.input-group-btn>.btn {
	position: relative;
}

.btn-primary {
	color: #ffffff;
	background-color: #ff6a00;
	border-color: #ff6a00;
}

.btn {
	diplay: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
}

button {
	-webkit-appearance: button;
	cursor: pointer;
	text-transform: none;
	overflow: visible;
	font: inherit;
	margin: 0;
}

.common {
	height: 40px;
	margin-bottom: 10px;
	min-width: 1200px;
	background-color: #fe7a24;
}

.common .categorys {
	width: 210px;
	height: 40px;
}

.categorys {
	position: relative;
	display: block;
	float: left;
	background-color: #ff6a00;
}

.categorys .categorys-title {
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1',
		sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 40px;
	display: block;
	margin: 0 0 -5px;
	padding: 0 15px;
	color: #fff;
}

.nav {
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1',
		sans-serif;
	font-size: 15px;
	margin: 0 0 0 230px;
	padding-left: 0;
	list-style: none;
}

ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

.nav>li {
	float: left;
}

.nav>li {
	position: relative;
	display: block;
	height: 40px;
}

.nav>li:hover {
	background-color: #ff8833;
}

.common .nav li a {
	color: #fff;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 20px;
	font-weight: bold;
}

footer {
	font-size: 12px;
	padding-bottom: 20px;
	text-align: center;
	width: 1200px;
	margin: 0 auto;
}

p {
	margin: 0 0 10px;
}

p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

footer b {
	font-weight: normal;
	color: #d9d9d9;
}

.content {
	position: relative;
	min-width: 1200px;
	float: left;
}

.filterbar {
	height: 32px;
	margin-bottom: 20px;
	padding: 0 10px;
	background-color: #ebebeb;
}

.filterbar .filter-items {
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1',
		sans-serif;
	line-height: 32px;
	float: left;
}

.list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px;
}

.filterbar .filter-items li {
	margin: 0 8px;
}

.list-inline>li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.filterbar .filter-items li.active>a {
	color: #ff6a00;
}

.filterbar .pager {
	float: right;
	margin: 4px 0;
	text-align: right;
}

.pager {
	padding-left: 0;
	margin: 20px 0;
	list-style: none;
	text-align: center;
}

.filterbar .pager li.total-page {
	margin-right: 10px;
}

.filterbar .pager li {
	margin-left: -6px;
}

.pager li {
	display: inline;
}

.filterbar .pager .disabled>a, .filterbar .pager .disabled>a:hover,
	.filterbar .pager .disabled>a:focus, .filterbar .pager .disabled>span {
	color: #d9d9d9;
	background-color: #fff;
}

.filterbar .pager li>a, .filterbar .pager li>span {
	padding: 1px 20px;
	border: 1px solid #ccc;
	border-radius: 0;
	background-color: #fff;
}

.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus,
	.pager .disabled>span {
	color: #999999;
	background-color: #ffffff;
	cursor: not-allowed;
}

.pager li>a, .pager li>span {
	display: inline-block;
	padding: 5px 14px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 15px;
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.filterbar .pager li>a:hover, .filterbar .pager li>a:focus {
	background-color: #ebebeb;
}

.filterbar .pager li>a, .filterbar .pager li>span {
	padding: 1px 20px;
	border: 1px solid #ccc;
	border-radius: 0;
	background-color: #fff;
}

.pager li>a:hover, .pager li>a:focus {
	text-decoration: none;
	background-color: #d9d9d9;
}

.pager li>a, .pager li>span {
	display: inline-block;
	padding: 5px 14px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 15px;
}

a:hover, a:focus {
	color: #ff6a00;
	text-decoration: underline;
}

.filterbar .pager li>a:hover, .filterbar .pager li>a:focus {
	background-color: #ebebeb;
}

.grid-wrapper {
	padding: 0 1px;
	margin: 0 auto;
}

.grid-item:hover {
	border: 1px solid #ccc;
}

.grid-item {
	float: left;
	margin: 0 28px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid transparent;
	background-color: #fff;
}

.grid-item .grid-panel {
	width: 220px;
}

.grid-item .img-box {
	position: relative;
	overflow: hidden;
	width: 220px;
	height: 240px;
	margin-bottom: 10px;
}

.grid-item .info-cont .price {
	margin-bottom: 8px;
	color: #ff6a00;
}

.grid-item .info-cont .price .price-sign {
	font-weight: 800;
}

.price-sign {
	font-famili: arial;
	margin-right: -4px;
}

.grid-item .info-cont .price .price-num {
	font-weight: 700;
	line-height: 18px;
	margin-right: 10px;
}

.price-num {
	font-family: arial, Verdana, Arial;
}

.grid-item .info-cont .title {
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
	height: 36px;
	margin-bottom: 8px;
	text-align: justify;
}

.grid-item .info-cont .title .product-title {
	font-size: 12px;
	display: block;
	max-width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.grid-item .info-cont .title .feature {
	font-size: 12px;
	display: block;
	color: #ff6a00;
}

.wrapper .content .login-box {
	width: 420px;
	height: auto;
	margin: 40px auto;
	padding: 20px;
}

.login-box .login-tabs {
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1',
		sans-serif;
	margin-bottom: 15px;
	padding: 0;
	list-style: none;
	height: 44px;
	border-bottom: 2px solid #d9d9d9;
}

.login-box .login-tabs li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.login-box .login-tabs li a {
	font-size: 16px;
	display: block;
	margin-bottom: -2px;
	padding: 10px 35px;
	border-bottom: 2px solid #d9d9d9;
}

.login-box .login-tabs li a:hover, .login-box .login-tabs li a:focus {
	text-decoration: none;
}

.login-box .login-tabs li.active a, .login-box .login-tabs li.active a:hover,
	.login-box .login-tabs li.active a:focus {
	color: #ff6a00;
	border-bottom-color: #ff6a00;
}

.login-box .login-panel {
	font-size: 12px;
	margin: 0 38px;
}

.tab-content>.active {
	display: block;
}

.fade.in {
	opacity: 1;
}

.fade {
	transition: opacity 0.15s linear;
}

.login-box .login-panel .form-group {
	margin-bottom: 10px;
}

.email_autocomplete1 {
	position: relative;
	display: inline-block;
}

.email_autocomplete1 input {
	width: 304px;
	height: 40px;
	padding: 10px;
	border: 1px solid #d2d2d2;
}

.login-box .login-panel .form-control {
	height: 40px;
	padding: 10px;
	border: 1px solid #d2d2d2;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

.form-control {
	border-radius: 0;
	box-shadow: none;
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 1.42857143;
	color: #4d4d4d;
	background-color: #ffffff;
	background-image: none;
}

.login-box .login-panel .form-control:focus {
	border-color: #ff6a00;
}

.login-box .login-panel .btn {
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1',
		sans-serif;
	margin-top: 20px;
	border-radius: 4px;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

.login-box .login-panel .input-group-addon {
	padding: 10px;
	border: 1px solid #d2d2d2;
	border-right: 0;
	border-radius: 0;
	background-color: #eee;
}

.input-group-addon {
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #4d4d4d;
	text-align: center;
}

.input-group-addon {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
	display: table-cell;
}

.ico-user {
	background-position: -338px -318px;
}

.ico-user {
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.ico-lock {
	background-image: url(../img/common_z.png);
	background-position: -312px -318px;
	width: 16px;
	height: 16px;
}

.login-box .login-panel .login-notice {
	min-height: 1px;
}

.login-box .login-panel .login-notice {
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-box .login-panel .login-notice .notice-cont {
	line-height: 18px;
	padding: 3px 12px;
	color: #7e7e80;
	border: 1px solid #feb98a;
	background-color: #fbf0e8;
}

.login-box .login-panel .login-notice .notice-cont .ico {
	margin-top: -2px;
	margin-right: 5px;
}

.ico-notice {
	background-image: url(../img/common_z.png);
	background-position: -364px -318px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.container {
	margin-right: auto;
	margin-left: auto;
}

.product-wrapper {
	height: 669px;
	margin-bottom: 40px;
	padding: 30px;
	border: 1px solid #d9d9d9;
	margin-bottom: 40px;
}

.product-wrapper .product-l {
	position: relative;
	float: left;
	width: 520px;
}

.product-wrapper .product-r {
	float: right;
	width: 560px;
}

.pro-preview {
	position: relative;
	width: 450px;
	margin: 0 auto;
}

.pro-preview .pro-bigimage {
	position: relative;
	overflow: hidden;
	width: 430px;
	height: 469px;
	margin: 0 auto 20px;
}

img {
	vertical-align: middle;
}

img {
	border: 0;
}

.product-wrapper .product-r .title {
	font-size: 16px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #d9d9d9;
}

.product-wrapper .product-r .title .product-title {
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1',
		sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 6px 0;
	padding: 0;
	color: #4d4d4d;
}

h3 {
	line-height: 1.1;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.product-wrapper .product-r .attribute {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #d9d9d9;
}

.product-wrapper .product-r .attribute dl {
	font-size: 12px;
	margin: 12px 0;
}

dl {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.product-wrapper .product-r .attribute dl>dt {
	font-weight: normal;
	float: left !important;
}

dt, dd {
	line-height: 1.42857143;
}

dt {
	display: block;
}

.product-wrapper .product-r .attribute dl>dd {
	margin-left: 70px;
}

dd {
	display: block;
	-webkit-margin-start: 40px;
}

.product-wrapper .product-r .price {
	position: relative;
	display: inline-block;
	margin-bottom: 8px;
	padding: 10px 16px 5px;
	cursor: pointer;
}

strong {
	font-weight: bold;
}

.product-wrapper .product-r .price .price-sell em {
	font-weight: bold;
	font-style: normal;
	color: #ff6a00;
}

.price-sign {
	font-family: arial;
	margin-right: -4px;
}

.product-wrapper .product-r .price .price-sell em.price-num {
	font-size: 18px;
	margin-left: 6px;
}

.product-wrapper .product-r .price .price-sell em {
	font-weight: bold;
	font-style: normal;
	color: #ff6a00;
}

.price-num {
	font-family: arial, Verdana, Arial;
}

.product-wrapper .product-r .btn-buy {
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1',
		sans-serif;
	margin-top: 10px;
	margin-bottom: 20px;
}

.product-wrapper .product-r .btn-buy .btn-lg {
	margin-right: 15px;
	padding: 8px 25px;
}

.btn {
	border-radius: 0;
}

.btn-lg {
	font-size: 18px;
	line-height: 1.3333333;
}

.btn-primary {
	color: #ffffff;
	background-color: #ff6a00;
	border-color: #ff6a00;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active,
	.btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: #ffffff;
	border-color: #f56600;
	background-color: #f56600;
}

.btn:hover, .btn:focus, .btn.focus {
	text-decoration: none;
}

.product-wrapper .product-r .btn-buy .btn-lg span {
	margin-top: -3px;
	margin-right: 10px;
}

.ico-cart-white {
	background-image: url(../img/common_z.png);
	background-position: -306px -284px;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

table {
	background-color: transparent;
	margin: 20px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 24px;
	font-size: 12px;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

td, th {
	padding: 0;
}

td, th {
	display: table-cell;
}

.cart-panel {
	margin-bottom: 20px;
	border: 1px solid #d9d9d9;
}

.cart-panel .hd {
	margin: 0;
	padding: 0 20px;
	list-style: none;
	background-color: #ebebeb;
}

.cart-panel .order-title {
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 0;
	overflow: hidden;
}

.cart-panel .order-title li.product {
	width: 400px;
}

.cart-panel .order-title li {
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1',
		sans-serif;
	font-weight: bold;
	display: inline-block;
	float: left;
	padding: 10px 0;
}

.cart-panel .order-title li.total-price, .cart-panel .order-title li.order-price
	{
	width: 130px;
	text-align: center;
}

.cart-panel .order-title li.num {
	width: 130px;
	text-align: center;
}

.cart-panel .order-title li.operate {
	float: right;
	width: 130px;
	text-align: center;
}

.cart-flow .container, .cart-flow header, .cart-flow .footer-nav,
	.cart-flow footer {
	width: 990px;
}

.cart-panel .bd {
	margin: 0;
	padding: 0 20px;
}

.cart-panel .order-list:first-child {
	border-top: none;
}

.cart-panel .order-list {
	font-size: 12px;
	margin: 0;
	padding: 15px 0;
	list-style: none;
	border-top: 2px dotted #d9d9d9;
	overflow: hidden;
}

.cart-panel .order-list li.img-box {
	width: 70px;
}

.cart-panel .order-list li {
	line-height: 20px;
	display: inline-block;
	float: left;
}

.cart-panel .order-list li.product {
	width: 400px;
	padding: 8px 0;
}

.cart-panel .order-list li.product span {
	display: block;
}

.cart-panel .order-list li.product .feature {
	color: #ff6a00;
}

.cart-panel .order-list li.order-price {
	width: 130px;
	padding: 18px 0;
	text-align: center;
}

.cart-panel .order-list li.order-price {
	font-weight: bold;
	color: #ff6a00;
}

.cart-panel .order-list li.num {
	width: 130px;
	margin: 16px 0;
	text-align: center;
}

.input-num {
	width: 80px;
	margin: 0 auto;
}

.input-num .btn {
	width: 11px;
	height: 11px;
	margin: -2px 0 0;
	padding: 0;
}

.btn {
	border-radius: 0;
}

.btn-default {
	color: #4d4d4d;
	background-color: #ffffff;
	border-color: #d9d9d9;
}

.input-num .btn i {
	margin-top: -4px;
}

.ico-add, .ico-minus, .ico-back {
	background-image: url(../img/common_z.png);
}

.ico-minus {
	background-position: -274px -234px;
}

.ico-minus {
	background-repeat: no-repeat;
}

.ico-add {
	background-position: -396px -239px;
}

.ico-add {
	background-repeat: no-repeat;
}

.ico-minus, .ico-add {
	width: 9px;
	height: 9px;
}

.input-num .form-control {
	display: inline-block;
	width: 40px;
	height: 24px;
	border-color: #d9d9d9;
}

i, cite, em, var, address, dfn {
	font-style: italic;
}

.input-sm {
	font-size: 12px;
	line-height: 1.5;
}

.ico {
	display: inline-block;
	vertical-align: middle;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active,
	.btn-default.active, .open>.dropdown-toggle.btn-default {
	color: #4d4d4d;
	background-color: #e6e6e6;
	border-color: #bababa;
}

.btn:hover, .btn:focus, .btn.focus {
	color: #4d4d4d;
	text-decoration: none;
}

.input-num .form-control:hover, .input-num .form-control:focus {
	border-color: #999999;
}

.cart-panel .order-list li.operate {
	float: right;
	width: 130px;
	padding: 8px 0 8px 40px;
}

.set-bar {
	margin-bottom: 30px;
	overflow: hidden;
}

.set-bar .set-info {
	font-size: 12px;
	line-height: 52px;
	float: left;
	width: 870px;
	height: 52px;
	padding: 0 20px;
	border: 1px solid #d9d9d9;
	border-right: 0;
}

.set-bar .set-info .back {
	float: left;
}

.set-bar .set-info .back .ico {
	margin-top: -6px;
	margin-right: 5px;
}

.ico-back {
	background-position: -68px -318px;
}

.ico-back {
	background-repeat: no-repeat;
}

.ico-back {
	width: 22px;
	height: 22px;
}

.set-bar .set-info .set-stat {
	float: right;
}

.set-bar .set-info .set-stat .price {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	color: #ff6a00;
}

.price-sign {
	font-family: arial;
	margin-right: -4px;
}

.set-bar .btn {
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1',
		sans-serif;
	font-weight: bold;
	float: right;
	width: 120px;
	height: 52px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active,
	.btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: #ffffff;
	border-color: #f56600;
	background-color: #f56600;
}
#left #content .login-box {
    width: 420px;
    height: auto;
    margin: 40px auto;
    padding: 20px;
}